node_modules/
auth_info_baileys/
.chrome_debug_profile/
.deepseek_memory.json
.deepseek_knowledge.json
.deepseek_repo_index.json
.aigoks_backup/
.deepseek_backup/
.wa_reminders.json
.wa_group_cache.json
daps/
package-lock.json
*.log
.env
